<!-- login.component.html -->
<div class="login-container">
    <div class="login-box">
        <img src="assets/imgs/logo.png" alt="Logo" class="login-logo" />
        <h1>Log in to your account</h1>
        <p>Welcome back! Please enter your details.</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="username" placeholder="Enter your email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" placeholder="Enter your password"
                    autocomplete />
            </div>

            @if (errorMessage) {
            <div class="error">
                {{ errorMessage }}
            </div>
            }

            <div class="form-group">
                <button type="submit" class="btn-login">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>